/* Brain visualisation */
/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

body {
    background-color: #71c5ef;
}
.centred {
    text-align: center;
}
.container canvas{
    position: fixed;
}
#tide {
    top: 8.2%;
    left: 1.2%;
}
#ripple {
    top: 10.5%;
    left: 20.5%;
}
#wave {
    top: 39%;
    left: 20.5%;
}
#swell {
    top: 68%;
    left: 20.5%;
}
#vertLine {
    position: fixed;
    top: 8.2%;
    left: 20%;
    width: 5px;
    height: 84%;
    border-left: 5px solid black;
}
#topLine {
    position: fixed;
    top: 34%;
    left: 20%;
    width: 78%;
    height: 5px;
    border-top: 5px solid black;
}
#bottomLine {
    position: fixed;
    top: 65%;
    left: 20%;
    width: 78%;
    height: 5px;
    border-top: 5px solid black;
}
.main {
    margin-top: 1%;
}
.main p {
    width: 28%;
    font-family: Cambria, sans-serif;
    margin: 1% auto;
}
.main img {
    width: 45%;
}
.boldIt {
    font-weight: bold;
}
.italicIt {
    font-style: italic;
}
.normalText {
    font-size: 1em;
}
.smallText {
    font-size: 0.8em;
}
.tinyText {
    font-size: 0.6em;
}
#imageFooter {
    width: 50%;
    margin: 0 auto;
}
#imageFooter img {
    width: 22%;
    padding: 0 2%;
}
#footerText {
    position: fixed;
    top: 92%;
    left: 10%;
    font-family: "Times New Roman", Times, serif;
    font-size: 3.5em;
}
/* Media queries */
/* This seems a hack!! */
@media only screen and (min-width: 1020px) {
    #footerText {
        left: 4%;
    }
}
@media only screen and (min-width: 1280px) {
    #footerText {
        left: 7%;
    }
}
@media only screen and (min-width: 1366px) {
    #footerText {
        left: 8%;
    }
}
@media only screen and (min-width: 1680px) {
    #footerText {
        left: 10%;
    }
}
@media only screen and (min-width: 1920px) {
    #footerText {
        left: 11.5%;
    }
}