/* Brain visualisation */
/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

body {

}
.centred {
    text-align: center;
}
.main {
    margin: 2%;
}
.main p {
    text-indent: 5%;
    width: 100%;
    font-family: Cambria, sans-serif;
    text-align: justify;
    margin: 2% 0;
}
.main img {
    width: 100%;
}
.main a:link,
.main a:visited,
.main a:hover,
.main a:active
{
    color: #6b489c;
    text-decoration: none;
}
.boldIt {
    font-weight: bold;
}
.italicIt {
    font-style: italic;
}
.normalText {
    font-size: 3.4vw;
}
.smallerText {
    font-size: 2.4vw;
}
.smallText {
    font-size: 2vw;
}
#footerText {
    font-size: 1.6vw;
}
.purple {
    color: #6b489c;
}
#imageFooter img {
    width: 96%;
}
#info {
    text-indent: 0;
    margin-left: 5%;
}
/* Media queries */
@media only screen and (max-width: 1920px) {
    .normalText {
        font-size: 1.5vw;
    }
    .smallText {
        font-size: 1.2vw;
    }
    #footerText {
        font-size: 0.8vw;
    }
    #imageFooter img {
        width: 86%;
    }
}
@media only screen and (max-width: 1024px) {
    .normalText {
        font-size: 1.5vw;
    }
    .smallText {
        font-size: 1.2vw;
    }
    #footerText {
        font-size: 0.8vw;
    }
    #imageFooter img {
        width: 86%;
    }
}