/* Brain visualisation */
/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

body {

}
.centred {
    text-align: center;
}
.main {
    margin-top: 1%;
}
.main p {
    width: 28%;
    font-family: Cambria, sans-serif;
    margin: 1% auto;
}
.main img {
    width: 45%;
}
.boldIt {
    font-style: italic;
    font-weight: bold;
}
.normalText {
    font-size: 1em;
}
.smallText {
    font-size: 0.8em;
}
.tinyText {
    font-size: 0.6em;
}
#imageFooter {
    width: 50%;
    margin: 0 auto;
}
#imageFooter img {
    width: 22%;
    padding: 0 2%;
}